@tailwind base;
@tailwind components;
@tailwind utilities;

.hamOff {
  width: 0px;
  transition: 0.3s;
  overflow-x: hidden;
}

.hamOn {
  width: 250px;
  transition: 0.3s;
  overflow-x: hidden;
}

.signPanel {
  
}
